name: Go Test

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: Go Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with: 
          go-version: '1.25'
          
      - run: go test -v ./...
